#footer{
  background-color:#242227;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
#footer ul{
  min-width:500px;
  width:50%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
  margin:20px 0;
  padding:0;
}
#footer ul li{
  list-style-type:none;
}
#footer ul li a{
  display:flex;
  flex-direction:row;
  align-items:center;
  text-decoration:none;
}
#footer ul li a p{
  color:#847d91;
}

#footer ul li .logo{
  width:30px;
  height:30px;
  margin-right:5px;
}
#footer ul li .logo img{
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
  filter: invert(56%) sepia(11%) saturate(474%) hue-rotate(219deg) brightness(88%) contrast(88%);
}
#footer ul li a:hover{
  filter: invert(26%) sepia(71%) saturate(274%) hue-rotate(219deg) brightness(88%) contrast(88%);
}
#footer p{
  color:#413e47;
}
#footer p a{
  color:#524e59;
}
#footer p a:hover{
  color:#6c6775;
}