#work{
  background-color:#242227;
  min-height:20vh; /* here*/
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
}
#work h3{
  text-align:center;
  color:white;
  font-family: 'Noto Sans', sans-serif;
  font-size:20px;
  font-weight:400;
  margin-top:30px;
}
.card-box{
  width:100%;
  margin:40px 0 80px 0;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  flex-wrap:wrap;
}
.card{
  position:relative;
  min-width:360px;
  width:25%;
  height:320px;
  background-color:white;
  transition: .2s ease-in-out;
  margin:30px;
}
.card:hover{
  transform:scale(1.1);
  box-shadow: 1px 1px 18px #1ae2ea;
}
.card img{
  display:block;
  width:100%;
  height:100%;
  object-fit:cover;
}
.card .project-info{
  position:absolute;
  top:0;
  left:0;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  transition:.2s;
}
.card .project-info:hover{
  background-color:rgba(0,0,0,0.8);
}
.card .project-info .text{
  display:none;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
}
.card .project-info .text p{
  width:95%;
  font-family: 'Noto Sans', sans-serif;
  color:white;
  padding:10px;
}
.card .project-info .text a{
  text-decoration:none;
  color:white;
  width:40%;
  text-align:center;
  border:1px solid white;
  margin:10px;
}
.card .project-info .text a:hover{
  color:#1ae2ea;
  border:1px solid #1ae2ea;
}

@media only screen and (max-width:800px){
  .card{
  width:80%;
  height:320px;
  background-color:white;
  transition: .2s ease-in-out;
  margin:30px;
}
}
@keyframes slideUp{
  0%{
    margin-bottom:-100%;
    opacity:0;
  }
  50%{
    opacity:0;
  }
  100%{
    margin-bottom:0%;
    opacity:1;
  }
}
