* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: white;
  margin: 0;
  padding: 0;
}
#page {
  background-color: #f0f6ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
h1:after {
  display: block;
  content: "";
  width: 70px;
  height: 3px;
  background-color: #cf4472;
  margin: 20px auto;
}
.bottom-wrapper {
  background-image: url("./img/footer-wrap.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
}
